# ==========================
# Terraform
# ==========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Variable files (usually contain secrets)
*.tfvars
*.tfvars.json

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# macOS / Linux
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# SSH Keys
# ==========================
*.pem
*.key
id_rsa
id_ed25519